.second {
    margin-top: 3.5em;
}

.iq-blog-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 3.125em;
    padding-bottom: 2.5em;
    border: 0.063em solid;
    border-image-slice: 1;
    border-width: 0 0 0.063em 0;
    border-image-source: linear-gradient(to right, rgba(209, 208, 207, 0.6), rgba(209, 208, 207, 0.3), rgba(209, 208, 207, 0));
}

.iq-blog-box .iq-blog-image {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.iq-blog-box .iq-blog-image img {
    margin-bottom: 1.875em;
    background: transparent;
}
.iq-blog-box .iq-blog-detail .iq-blog-meta ul {
    margin: 0 0 1.25em;
    padding: 0;
    line-height: 1em;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.iq-blog-meta ul li {
    color: var(--iq-white-color);
    text-transform: uppercase;
    font-style: italic;
    margin: 0 0.625em 0.625em 0;
    font-size: 0.875em;
    border-left: 0.25em solid var(--main-color);
    background: transparent linear-gradient(270deg, var(--iq-form-gradient-color) 0%, var(--iq-to-gradient-color) 100%);
    padding: 0.625em 0.625em 0.625em 0.938em;
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}
.button-link {
    background: var(--main-color);
    color: var(--iq-white-color);
    border: none;
    position: relative;
    z-index: 9;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.625em 0.625em;
    font-size: 0.875em;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.094em;
}

article img {
    width: 100%;
}