.home-slide .slide-item {
    width: 100%;
    background: url(../img/slide/slider2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.home-slide .slide-item:before {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(20, 20, 20, 0.9) 15%, rgba(83, 100, 141, 0) 100%);
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.title_slide {
    padding-top:30%;
    font-size: 3.5em;
    font-weight: bold;
}

.rating-star {
    list-style-type:none;
    margin-bottom: 0;
    padding: 0;
}
.rating-star li {
    font-size: 1.5em;
    color:#e50813;
}
.rating-number {
    font-size: 1.5em;
}
.slide-item .desc_slide {
    width: 75%;
}
.slide-item .btn-play {
    text-decoration: none;
    color: #fff;
    background: #e50813;
    padding: 0.3em 1em;
    font-size: 1.2em;
    display: inline-block;
    box-shadow: 0 0 0.063em rgba(0, 0, 0, 0);
    text-transform: uppercase;
    position: relative;
    transition: ease-in 1s;
}

.btn-play:hover {
    background: #000000da;
}
/* 
.title_slide, .rating, .desc_slide,.btn-play {
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} */

@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

.col-md-5 {
    max-width: 20%;
    float: left;
}
.col-5 {
    width: 20%;
    float: left;
}
@media screen and (max-width:479px){
    .slide-item .desc_slide {
        display: none;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .title_slide {
        font-size: 2.5em;
    }
}



