.home-slide .slide-item {
    width: 100%;
    background: url(../img/slide/slider2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    z-index: 1;
    filter: blur(0.15em);
}
.home-slide .slide-item:before {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(20, 20, 20, 0.9) 15%, rgba(83, 100, 141, 0) 100%);
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.title_slide {
    padding-top:20%;
    font-size: 3.5em;
    font-weight: bold;
}

.rating-star {
    list-style-type:none;
    margin-bottom: 0;
    padding: 0;
}
.rating-star li {
    font-size: 1.5em;
    color:#e50813;
}
.rating-number {
    font-size: 1.5em;
}
.slide-item .desc_slide {
    width: 75%;
}
.slide-item .btn-play {
    text-decoration: none;
    color: #fff;
    background: #e50813;
    padding: 0.3em 1em;
    font-size: 1.2em;
    display: inline-block;
    box-shadow: 0 0 0.063em rgba(0, 0, 0, 0);
    text-transform: uppercase;
    position: relative;
    transition: ease-in 1s;
}

.btn-play:hover {
    background: #000000da;
}
/* 
.title_slide, .rating, .desc_slide,.btn-play {
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} */

.slick-next {
    right: 3%;
}

.slick-prev {
    left: 3%;
}
.slick-arrow {
    background: transparent;
}
.slick-arrow i {
    font-size: 5.5em;
}

/* .home-slide {
    height: 40em;
} */

.slide-info {
    padding: 10px 0;
}

.slick-slide-prev, .slick-slide-next {
    filter: blur( 0.1875em);
}

.home-slide .slide-item.slick-active {
    filter: unset;
}
