.blog {
    margin-top: 0;
    padding: 12px 0 30px;
}
.pagination-style-two {
    margin-top: 50px;
    text-align: center;
}
.pagination-style-two a {
    text-decoration: none;
    padding: 5px 15px;
    background: #ff6407;
    color: #ffffff;
    border-radius: 5px 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.pagination-style-two a.selected,
.pagination-style-two a:hover,
.pagination-style-two a:active,
.pagination-style-two a:focus {
    padding: 15px;
    background: #ffb900;
}
